body {
    background-color: #676767;   
}
video {
    background-image:url("../video/pepper_neutral.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;;
    border-bottom: 1px solid transparent;
  }
